@model MyWebCounter.Models.IncrementViewModel

@{
    ViewData["Title"] = "My First Web Counter";
}

<div class="text-center">
    <h1 class="display-4">Counter</h1>
    <p>@Html.DisplayFor(m => m.Count)</p>
    <form asp-action="Increment">
        <input type="submit" value="Increment!" />
    </form>
</div>