@{
    ViewData["Title"] = "My First Web Counter";
}

<h1>Counter</h1>

<h3>@ViewData["Count"]</h3>

<input type="button"
       value="Increment"
       onclick="location.href='@Url.Action("Index","Counter")'" />